
.uploadform{
    position: relative;

    margin-left: 40%;

}

input{
    border: #999 solid 1px;
}

textarea{
    border: #999 solid 1px;
}

label{
    margin-right: 4px;
}


.feedback{
    position: relative;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 4px;
    padding: 3px;
    font-size: 1.2em;
}

.feedback-client-err{
    background-color: #FF6F40;

}

.feedback-server-err{
    background-color: #FF4C68;
}

.feedback-success{
    background-color: #99FF8C;
}

