extends layout
block styles
  link(rel='stylesheet', href='/stylesheets/home.css')

block header

block content
  h2(class='sub-title') Avdelingar


  ul(class='media-listing', style="margin-left: 29%; overflow: hidden;")
    for media in pages
        li(class='media-listing-li', style="height: 175px; width:175px;")
          a(href=media.url)
            img(class='preview-img blur', src='/images/'+media.tmb_name)
            h3(class='preview-title')=media.name
block scripts
  script(src='js/home.js')