doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width", initial-scale="1.0")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
        
  body()
    div(class="container")
      include header/header

      div(class='content')
        block content

      include footer/footer

  script(src='/js/jquery-2.2.0.js')

  block scripts
