doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
        
  body()
    div(class="container")
      div(class='header')
        div(class='title-container')
          a(href="/")
            h1(class='title')=title

        div.user-container()
          if(user)
            a.btnauth.logout(href="/logout") Logout
            a(href="/user/"+user.username)
              strong(style="position:relative; float:right; color:#efefef")=user.username
              .profileimg-container
                img.profile-img(src="/res/images/profile-img/flindhagen.jpg", alt="profile-img")
          if(!user)
            a.btnauth.login(href="/login") Login
            br
            a.btnauth.register(href="/register") Register

          block header

      div(class='content')
        block content

      footer(class='footer', style="text-align: center;")
        p &copy; Copyright 2016 by Fredrik Førde Lindhagen

  script(src='/js/jquery-2.2.0.js')

  block scripts
