extends layout
block styles

block header

block content
  h2(class='sub-title', style="font-weight: 800;") Velkommen til PiServer
  p.ingress Denne nettsida let deg sjå filmar og seriar, frå ein server lokalt frå nettverket

  if(currentUser)
    a(href="/videos")
      button.btn.btn-hyperlink.btn-primary.btn-large Videoar
  else
    h2.sub-title Logg inn
    p.ingress For å få tilgang til videoane må du ha brukar

    form.authentication(method="POST", action="/login")
      div.form-group
        label(for="email") E-post
        input.form-control(type="text", id="email", placeholder="loremlipsum@mail.no", name="email")
      div.form-group
        label(for="password") Passord
        input.form-control(type="password", id="password", placeholder="H3mme!ig", name="password")
      button.btn.btn-primary.btn-login(type="submit") Logg Inn


block scripts
  script(src='js/home.js')