
extends layout
block styles
   link(rel="stylesheet", type="text/css", href="/stylesheets/register.css")
block header
block content
   h2(class='sub-title', style="font-weight: 800;") Register
   p.ingress
      | Registrer deg for å få tilgong til filmar og tv-seriar

   div.sub-container
      div.form-container
         form.authentication(role="form", action="/register", method="post")
            div.form-group
               label(for="firstname") Fornamn *
               input.form-control(type="text", name="firstname", placeholder="Ola Strand")
               label(for="lastname") Etternamnet *
               input.form-control(type="text", name="lastname", placeholder="Nordmann")
            div.form-group
               label(for="email") E-post *
               input.form-control(type="text", name="email", placeholder="loremlipsum@mail.com")
            div.form-group
               label(for="password") Passord *
               input.form-control(type="password", name="password", placeholder="H3mme!ig")
               br
               input.form-control(type="password", name="confirmPassword", placeholder="Bekreft passord")
            button.btn.btn-primary(type="submit") Opprett brukar

      div.register-information-container
         h3.sub-title.register-information-title Brukartilgong
         p.register-information
            | Vi brukar denne informasjonen til å halde kontroll på kven som brukar tjenesta. <br/>
            | I praksis er det ikkje noko som stoppar deg frå å bruke falsk ID, men hugs at tapar du passordet ditt,
            | brukar vi eposten for å kunne gjennopprette kontoen din.
         ul.register-information-list
            li <strong>Epost</strong> - Denne brukar vi for gjennoppretting av konto. Eller viss vi av ein eller anna grunn må kontakte deg
            li <strong>Namn</strong> - Brukast for å ha generell oversikt over kven som brukar tjenesten
            li <strong>Passord</strong> - Denne er forklarar seg sjølv
            li <strong>Dato registrert</strong> - Ha statistikk over når brukarar registrerte seg
            li <strong>Sist aktiv</strong> - Brukast for å ha statistikk over kor ofte sida brukast
            li <strong>Favoriserte videoar</strong> - [ikkje implementert] Gjer det mulig for deg å lagre favorittfilmane dine