
.cover-img-container{
    background-color: #212121;
    position: relative;
    left: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.cover-img{
    position: absolute;
    left: -5%;
    width: 125%;
    top: -2%;
}

.vid-title{
    color: #efefef;
    font-size: 4em;
    margin-top: 5%;
    text-shadow: #212121 0.1em 0.1em 0.3em;
}

.statistics{
    top: 0;
    margin-top: 5px;
    border-top: none;
    border-bottom: #555 solid 1px;
    font-size: 1.2em;
}

/* Sett padding to all the columns in statistics-table */
.statistics td{
    padding-bottom: 5px;
}

.stat-rating-ico{
    width: 30px;
    margin-bottom: 3px;
}

p.details{
    font-style: italic;
    position: relative;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.2em;
}

.season-listing{
    position: relative;
    margin-left: 1%;
    width: 98%;
    list-style: none;
    overflow-x: hidden;
}

.media-listing-li{
    width: 150px;
    height: 175px;
}


@media screen and (min-width: 480px) {

    .cover-img {
        left: -2%;
        width: 105%;
        top: -30%;
    }

    .season-listing {
        margin-left: 2%;
        width: 96%;
    }

}