body{
    background-color: #212121;
    font-family: Helvetica;
    color: #efefef;
}

.container{
    background-color: #333;
}

.cover-img-container{
    height: 185px;
    owerflow: hidden;
}

.title-anchor{
    color: #efefef;
    text-shadow: #212121 .1em .1em 0.3em;
}

.title-anchor:hover{
    text-decoration: none;
    color: #FFF;
}

.cover-img{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    top: 0;
    left: -10%;
    width: 125%;
}

.sub-title{
    top: 30%;
    font-size: 3.0em;
    text-shadow: #212121 0em 0em 0.8em;
}

p.details{
    font-style: italic;
    color: #aaa;
    font-size: 1.0em;
    margin-bottom: 2%;
}

.stat-clm{
    color: #BBB;
    font-size: 1.0em;
}


.ep-nav-container{
    position: relative;
    list-style: none;
    white-space: nowrap;
    margin-top: 2%;
    margin-left: 41%;
}

.ep-nav-container li{
    display: inline-block;
}

.ep-nav-ico{
    color: #efefef;
    text-shadow: #111 0.05em 0.05em 0.2em;
}

.ep-nav-ico:first-child{
    padding-right: 10px;
}

.ep-nav-ico:last-child{
    padding-left: 10px;
}

.ep-nav-ico:hover{
    text-shadow: none;
}

.ep-nav-anchor{
    color: #efefef;
    font-size: 1.4em;
}


@media screen and (min-width: 480px){
    .cover-img{
        top: -40%;
    }

    .sub-title{
        margin-top: 8%;
        font-size: 3.3em;
    }

    p.details{
        font-size: 0.9em;
    }

    .ep-nav-container{
        margin-left: 47%;
    }

}




.video-js{
    position: relative;
}

.vjs-control{
    color: #CCC;
}

.vjs-play-control::before{
    color: #CCC;
}

.vjs-time-control{
    color: #ccc;
}

.vjs-remaining-time-display{
    color: #CCC;
}
.vjs-fullscreen-control::before{
    color: #CCC;
}



.gradient-bg-right{
    background: -webkit-gradient(linear, left top, right top, from(#444), to(rgba(0,0,0,0)));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #444, rgba(0,0,0,0));

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #444, rgba(0,0,0,0));

    /* IE 10 */
    background: -ms-linear-gradient(left, #444, rgba(0,0,0,0));

    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #444, rgba(0,0,0,0));

}

.gradient-bg-left{

    background: -webkit-gradient(linear, right top, left top, from(#444), to(rgba(0,0,0,0)));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(right, #444, rgba(0,0,0,0));

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(right, #444, rgba(0,0,0,0));

    /* IE 10 */
    background: -ms-linear-gradient(right, #444, rgba(0,0,0,0));

    /* Opera 11.10+ */
    background: -o-linear-gradient(right, #444, rgba(0,0,0,0));

}