body{
    background-color: #212121;
    font-family: Helvetica;
    color: #efefef;
}
.sub-title{
    position: relative;
    font-size: 3.0em;
    padding: 2%;
    text-align: center;
}

.video-js{
    position: relative;
    margin-left: 25%;
}

.preview-container{
    position: absolute;
    top: 30%;
    left: -300px;
}