*{
    font-family: "Helvetica";
    color: #333333;
}
body{
    background-color: #EFEFEF;
}

.container{
    position: relative;
    background-color: #F8F8F8;
    padding: 0;
    width: 80%;
}

.header{
    background-color: rgb(21, 171, 237);
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;

    z-index: 30;
}


.title-container{
    position: relative;
    margin-top: 0;
    top: 0;
    float: left;
    width: 50%;
}

.title{
    position: relative;
    font-size: 1.5em;
    padding-left: 1%;
    margin-top: .4%;
    top: 0;
    color: #f8f8f8;
    float: left;
    z-index: 20;
}

.title:hover{
    color: #FFF;
}

.page-sepparator{
    position: relative;
    float: left;
    color: #EEE;
    margin-left: 1%;
    margin-top: 1.8%;
    font-size: 0.7em;
}

.video-anchor{
    position: relative;
    float: left;
    margin-top: .4%;
    margin-left: 2%;
    font-size: 1.3em;
    color: #e3e3e3;
}

.video-anchor:hover{
    color: #e8e8e8;
    text-decoration: none;
}


.buttons-list{
    position: relative;
    float: right;
    list-style:none;
    top: 0;
    margin-top: .3%;
    margin-right: 2%;
    white-space: nowrap;
}

.button-list-li{
    position: relative;
    display: inline-block;
    color: #EFEFEF;
    white-space: nowrap;
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 4%;
    margin-right: 4%;
    text-shadow: #888 0em 0em 0.3em;
}

.button-list-rm-label{
    color: #FF4C68;
}


.button-list-li:hover{
    text-shadow: #777 0em 0em 0.2em;
}


.user-container{
    position:relative;
    top: 0;
    float: right;
    padding-right: 1%;
    color: #efefef;
}

.btnauth{
    color: #efefef;
    font-weight: 800;
    float: right;
}

.logout{
    color: #FF8888;
    font-weight: 800;
    padding-left: 4%;
    float: right;
}

.profileimg-container{
    background-color: #398439;
    position: relative;
    float: right;
    margin-right: 2%;
    top: -5px;
    width: 2.5em;
    height:2.5em;
    overflow: hidden;
    border-radius: 40px;
}

.profile-img{
    position: absolute;
    top: -0%;
    left: -10%;
    height: 100%;
}

.sub-title{
    position: relative;
    text-align: center;    
}

.content{
    position: relative;
    width: 100%;
    top: 30px;
}

.footer{
    position: relative;
    width: 100%;
    padding-top: 25px;
}

.blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .5s ease;
}

.deblur{
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

.media-listing{
    position: relative;
    width: 98%;
    margin-left: 1%;
    overflow-x: scroll;
    overflow-y: hidden;
    list-style: none;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.media-listing-li{
    background-color: #FFF;
    position: relative;
    display: inline-block; /* Prevents the list from wrapping*/
    border-radius: 3px;
    box-shadow: #AAA 0.1em 0.1em 0.2em;
    
    width: 200px;
    height: 275px;
    margin: 5px;
    color: #212121;
    
    overflow: hidden;

    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    -ms-transition: all ease 1s;
    transition: all ease 1s;
}


.media-listing-li:first-child{
    margin-left: 0;
}

.media-img-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    overflow: hidden;
    
    box-shadow: inset #212121 0em -0.2em 0.3em;
}
    
.media-img{
   position: absolute;
   width: 110%;
   left: -5%;
   top: -5%;
   
}

.media-title{
    position: relative;
    height: 10%;
    margin-top: 2%;
    text-align: center;
    font-size: 1.25em;
    word-wrap: break-word;
}


.statistics{
    position: relative;
    width: 100%;
    border-top: #ccc solid 1px;
}

.stat-clm{
    color: #666;
    padding-left: 3%;
    font-style: italic;
    font-size: 0.9em;
}

.stat-rating-ico{
    width: 25px;
}

#stat-genre{
    font-size: 0.7em;
    line-break: auto;
    white-space: normal;
}


.vid-remove-scheema-container{
    background-color: #FFF;
    position: absolute;
    z-index: 80;
    top: 120%;
    left: -820%;
    font-size: 0.7em;

    width: 200px;

    box-shadow: #212121 0.1em 0.1em 0.3em;
    text-shadow: none;

    display: none;
    white-space: normal;
}

.container-triangle{
    position: absolute;
    left: 86%;
    top: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: #fff 10px solid ;
}


footer{
    margin-top: 20px;
    position: relative;
    width: 100%;
}
