*{
    font-family: "Helvetica";
    color: #333333;
}
body{
    background-color: #EFEFEF;
}

.container{
    position: relative;
    background-color: #F8F8F8;
    padding: 0;
    width: 100%;
}

.header{
    background-color: #0D5D7F;
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;

    overflow-y: hidden;
    z-index: 30;
}


.title-container{
    position: relative;
    margin-top: 0;
    top: 0;
    float: left;
    width: 50%;
}

.title{
    position: relative;
    font-size: 1.5em;
    padding-left: 1%;
    margin-top: 3px;
    top: 0;
    color: #f8f8f8;
    float: left;
    z-index: 20;
}

.title:hover{
    color: #FFF;
}

.title-img{
    position: relative;
    float: left;
    width: 15px;
    margin-top: 5px;
    margin-left: 1%
}

.page-sepparator{
    position: relative;
    float: left;
    color: #EEE;
    margin-left: 1%;
    margin-top: 10px;
    font-size: 0.7em;
}

.video-anchor{
    position: relative;
    float: left;
    margin-top: 3px;
    margin-left: 2%;
    font-size: 1.3em;
    color: #e3e3e3;
}

.video-anchor:hover{
    color: #e8e8e8;
    text-decoration: none;
}


.buttons-list{
    position: relative;
    float: right;
    list-style:none;
    top: 0;
    margin-top: .3%;
    margin-right: 2%;
    white-space: nowrap;
}

.button-list-li{
    position: relative;
    display: inline-block;
    color: #EFEFEF;
    white-space: nowrap;
    font-size: 0.8em;
    cursor: pointer;
    margin-left: 4%;
    margin-right: 4%;
    text-shadow: #888 0em 0em 0.3em;
}


.user-container{
    position:relative;
    top: 0;
    float: right;
    padding-right: 0;
}

.btnauth{
    color: #efefef;
    font-weight: 800;
    float: right;
    white-space: nowrap;
}

.profileimg-container{
    background-color: #398439;
    position: relative;
    float: right;
    margin-right: 2%;
    top: -5px;
    width: 2.5em;
    height:2.5em;
    overflow: hidden;
    border-radius: 40px;
}

.profile-img{
    position: absolute;
    top: -0%;
    left: -10%;
    height: 100%;
}

.sub-title{
    position: relative;
    text-align: center;
}

.content{
    position: relative;
    width: 100%;
    top: 30px;
}

.footer{
    position: relative;
    width: 100%;
    padding-top: 25px;
}


.media-listing{
    position: relative;
    width: 98%;
    margin-left: 1%;
    overflow-x: scroll;
    overflow-y: hidden;
    list-style: none;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.media-listing-li{
    background-color: #FFF;
    position: relative;
    display: inline-block; /* Prevents the list from wrapping*/
    border-radius: 3px;
    box-shadow: #AAA 0.1em 0.1em 0.2em;

    width: 200px;
    height: 275px;
    margin: 5px;
    color: #212121;

    overflow: hidden;

    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    -ms-transition: all ease 1s;
    transition: all ease 1s;
}

.media-listing-li:first-child{
    margin-left: 0;
}

.media-img-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    overflow: hidden;

    box-shadow: inset #212121 0em -0.2em 0.3em;
}

.media-img{
    position: absolute;
    width: 110%;
    left: -5%;
    top: -5%;
}

.media-title{
    position: relative;
    height: 10%;
    margin-top: 2%;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

.statistics{
    position: relative;
    width: 100%;
    border-top: #ccc solid 1px;
    overflow-y: hidden;
}

.stat-clm{
    color: #666;
    padding-left: 3%;
    font-style: italic;
    font-size: 0.9em;
}

.stat-rating-ico{
    width: 25px;
}

#stat-genre{
    font-size: 0.7em;
    line-break: auto;
    white-space: normal;
}


.authentication{
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}


.form-control{
    border-radius: 2px;
}




.btn{
    position: relative;
    float: right;
    background-color: #0D5D7F;
    padding: 0.3em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    color: #efefef;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.btn:hover{
    color: #ddd;
}

.btn-primary{
    float: none;
    border-radius: 0;
    width: 100%;

    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 800;
}

.btn-primary:hover{
    background-color: #FFF;
    color: #0D5D7F;
}

.btn-login{
    background-color: #078C6B;
    color: #FFF;
}

.btn-login:hover{
    background-color: #FFF;
    color: #078C6B;
    border: #078C6B solid 1px;
}

.btn-logout{
    background-color: #FFF;
    color: #8C1C2F;
    font-weight: 800;
    float: right;
    margin-right: 0;
    border-radius: 0;
}

.btn-logout:hover{
    background-color: #8C1C2F;
    color: #efefef;
}

.btn-hyperlink{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #078C6B;
}

.btn-large{
    font-size: 1.5em;
    padding-left: 2.0em;
    padding-right: 2.0em;
}


.btn-register{
    color: #0D5D7F;
    background-color: #FFF;
    border-radius: 0;
    font-weight: 400;
    font-size: 1.1em;
    margin-right: 0;
    padding: 0;
    height: 30px;
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-weight: 800;
}

.btn-register:hover{
    background-color: #0D5D7F;
    color: #FFF;
}


.ingress{
    text-align: center;
    font-style: italic;
}

@media screen and (min-width: 1000px){
    .container{
        width: 85%;
    }
}

@media screen and (min-width: 480px){

    .authentication{
        margin-left: 35%;
        margin-right: 35%;
    }

    .btn{
        width: auto;
        margin-left: 35%;
    }

    .btn-logout{
        float: right;
        margin-right: 0;
        border-radius: 0;
    }

    .btn-primary{
        padding-top: 5px;
        padding-bottom: 5px;
    }


    .btn-register{
        margin: 0;
    }

    .user-container{
        top: 0;
        width: 20%;
        font-size: 0.9em;
    }

    .btn-hyperlink{
        margin-left: 41%;
        padding-left: 5%;
        padding-right: 5%;
    }

}




footer{
    margin-top: 80px;
    position: relative;
    width: 100%;
}


.blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .5s ease;
}

.deblur{
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}
