div(class='header')
   div.title-container
      img.title-img(src="/images/raspberrypi_ico.png")
      a(href="/")
         h1(class='title')=title
      block title-area
   div.user-container
       ul.btn-list
        if(currentUser)
           li.btn-list-elem
                a.btn-header.btn-user(href="/user") Bruker
           li.btn-list-elem
                a.btn-header.btn-logout(href="/logout") Logg ut
        else
           li.btn-list-elem
                a.btn-header.btn-register(href="/register") Register
   block header
